<div class="friendship-actions">
  <% if current_user == user %>
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-sm btn-primary' %>
  <% elsif current_user.friend? user %>
    <span>Friends <%= link_to 'Delete from friends', delete_friend_user_path(user), class: 'btn btn-sm btn-outline-danger' %></span>
  <% elsif current_user.friendship_request_sent? user %>
    <span>Friend request sent <%= link_to 'Cancel request', cancel_friend_request_user_path(user), class: 'btn btn-sm btn-outline-warning' %></span>
  <% elsif current_user.friendship_request_received? user %>
    <span>Accept friend request <%= link_to 'Yes', accept_friend_request_user_path(user), class: 'btn btn-sm btn-outline-success' %> <%= link_to 'No', reject_friend_request_user_path(user), class: 'btn btn-sm btn-outline-warning' %></span>
  <% else %>
    <span><%= link_to 'Sent friend request', send_friend_request_user_path(user), class: 'btn btn-sm btn-outline-primary' %></span>
  <% end %>
</div>
