<li id="comment-<%=comment.id %>" class="comment list-group-item">
  <div class="d-flex">
    <div class="mr-3">
      <%= image_tag comment.user.profile_image_url + '?s=48', alt: comment.user.name %>
    </div>
    <div class="flex-fill">
      <h6 class="d-inline-block"><%= link_to comment.user.name, comment.user, class: 'font-bold' %></h6>
      <small class="text-muted font-italic"> <%= time_ago_in_words(comment.created_at) %> ago</small>
      <p><%= comment.content %></p>
    </div>
  </div>
</li>
